<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Hello, world!</title>
</head>
<body style="font-size: 15px; line-height: 1.4;">
<style>
    input[type=checkbox] {
        appearance: none;
        -webkit-appearance: none;
    }
    input[type=checkbox]::after {
        content: '\2715';
        color: red;
    }
    input[type=checkbox]:checked::after {
        content: '\2713';
        color: green;
    }
</style>
<nav class="navbar navbar-dark bg-dark fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Items</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/view/items/A">Item by Letter</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/view/items/search">Item Search</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/view/list?customer=mike&name=My List">My List</a>
            </li>
        </ul>
    </div>
</nav>
<div style="position: fixed; right: 10px; bottom: 10px; z-index: 9999;">
    <a href="#top"><i class="fa fa-2x fa-chevron-up" style="display: block;"></i></a>
    <a href="#bottom"><i class="fa fa-2x fa-chevron-down" style="display: block;"></i></a>
</div>
<div class="container-fluid mb-3 mt-5" id="top">
    <div class="row">
        <div class="col-12 mt-3">
            <h1>Items</h1>
            <p>Packnsave</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">List Name: </span>
                </div>
                <input type="text" id="name" class="form-control" value="My List" />
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Filter: </span>
                </div>
                <input type="search" id="search" />
            </div>
            <div class="item-list">
                <div th:text="${itm.name}" th:data-id="${itm.id}" id="orig-id"></div>
                <div th:text="${itm.quantity}"></div>
                <div th:text="'$' + ${itm.price}"></div>
                <div th:each="item: ${items}" class="row item py-2">
                    <div class="col-3">
                        <img th:data-src="${item.imageUrl}" class="lazy" height="auto" width="75" />
                    </div>
                    <div th:data-category="${item.category}" class="col-6">
                        <b><span th:text="${item.name}" th:data-id="${item.id}" class="name"></span></b><br />
                        <span th:text="'$' + ${item.price}"></span><br />
                        <em><span th:text="${item.quantity}"></span></em>
                    </div>
                    <div class="col-3 text-right d-flex flex-column align-items-end justify-content-around">
                        <input type="checkbox" class="check" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-12" id="bottom">
            <button class="btn btn-primary" onclick="saveCustomerItems()">Save Match</button>
        </div>
    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<!--<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>-->

<!--<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>-->

<!-- cdnjs -->
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.9/jquery.lazy.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.9/jquery.lazy.plugins.min.js"></script>

<!--<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />-->
<!--<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>-->

<script>
    $(document).ready(function() {
        $('#search').on('keyup', function() {
            var value = $(this).val().toLowerCase();
            $('.item-list .item').filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
            });
        });

        $('.lazy').lazy();

        $('body a').each(function() {
            $(this).attr('rel', 'external');
        });
    });

    function saveCustomerItems() {
        let id = $('#orig-id').data('id');
        let match;

        let count = 0;
        $('.item-list .item').each(function() {
            let checked = $(this).find('.check:checked');

            if (checked.length) {
                match = $(this).find('.name').data('id');
                count++;
            }
        });

        let json = '{"id":"'+id+'","match":"'+match+'"}';
        console.log(json);

        if (count > 1) {
            window.alert("Only one matched allowed.");
        } else {
            $.ajax({
                url: window.location.origin + "/items/match",
                type: "POST",
                data: json,
                contentType: "application/json; charset=utf-8",
                dataType: "text",
                success: function() {
                    console.log("Match has been saved! " + id + " " + match);
                },
                error: function(xhr, textStatus, error) {
                    console.log(xhr.responseText);
                    console.log(xhr.statusText);
                    console.log(textStatus);
                    console.log(error);
                }
            });

            sleep(1000);
            location.reload();
        }
    }
</script>

</body>
</html>